@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  cursor: pointer;
  display: inline-block;
  text-decoration: none; 
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 88.5%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header {   background: #46b2dd; }

header .wrapper {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

h1 { 
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
}

.menu {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

nav li { padding: 10px 5%; }

nav a {
  color: #fff;
  font: bold 14px sans-serif;
}

.hamburger {
  width: 20px;
  display: none;
  float : right;
  position: relative;
  z-index: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
} 

.hamburger span {
  width: 100%;
  height: 2px;
  position: absolute;
  background : #000;
  text-indent: -9999px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) { top : 0; }

.hamburger span:nth-child(2) { top : 6px; }

.hamburger span:nth-child(3) { top : 12px; }

.hamburger.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.hamburger.open span:nth-child(2) {  opacity: 0; }

.hamburger.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*global styling start*/

h2 {
  margin-bottom: 14px;
  font-size: 36px;
  text-transform: uppercase;
}

h3 {
  padding-bottom: 14px;
  position: relative;
  font-size: 29px;
  text-transform: capitalize;
}

h4 {
  font : 16px sans-serif;
  text-transform : uppercase;
}

p { 
  color: #928f9e;
  letter-spacing: -1px;
  line-height: 27px
}

.banner img,
.services img {
  -webkit-box-shadow: 2px 2px 10px #ddd;
  box-shadow: 2px 2px 10px #ddd;
}

.services li ,
.features ul { 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services li {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*global styling and*/

/*banner styling start*/

.banner {
  margin-bottom: 119px;
  background: #55defe;
  color: #fff;
}

.banner .wrapper { 
  width: 86.5%; 
  padding : 223px 0 576px;
  position: relative;
}

.banner ul {
  position: absolute;
  top : 20%;
  left: 50%;
}

.banner li:last-child {
  position: absolute;
  right: -46%;
  bottom: -11.5%;
}

.banner-text { 
  width: 50%;
  position: absolute; 
}

.banner-text p {
  color : #fff;
  font-size: 24px;
  line-height: 39px;
}

.banner-text p a { color: #fff; }

.banner-text p + a ,
.subscribe-button { 
  padding: 15px;
  border : 1px solid transparent;
  -webkit-border-radius: 25px;
  -moz-border-radius : 25px;
  border-radius: 25px;
  margin-top: 29px;
  background: #4186ed;
  color: #fff;
}

.banner-text p + a:before {
  margin-right: 3px;
  float: left;
  content: "\f179";
  font-family: fontAwesome;
}

/*banner styling end*/

/*services styling start*/

.services li:nth-child(2) {
  flex-direction: row-reverse;
}

.services li { 
  padding-top: 176px;  
  border-bottom: 2px solid #f2f2f2;
}

.services-info { 
  -ms-flex-preferred-size: 48.5%;
  flex-basis: 48.5%;
}

.services h3 { margin-bottom: 20px; }

.services h3:before {
  content: '';
  width: 6%;
  height: 2px;
  position: absolute;
  bottom: 0;
  background: #539df0;
}

/*services styling end*/

/*customer-reviews section styling start*/

.customer-reviews {
  padding: 117px 0 121px;
  background: #f2f2f2;
  text-align: center;
}

.review-slider { margin-top: 62px; }

.review-slider figure { 
  margin-bottom: 24px;
  display: inline-block; 
}

.review-slider span {
  margin-bottom: 7px;
  display: block;
  color: #7e7e7e;
  font : 550 13px sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.review-slider figure img { border-radius: 50%; }

.review-slider p { 
  width: 64%; 
  margin: 33px auto 25px;
  font-size: 18.5px;
}

.rating-star {  
  color: #f7c13b;
  overflow : hidden;
  text-indent: -9999px; 
}

.rating-star:before {
  content: "\f005";
  float: left;
  font: 14px fontAwesome;
  text-indent: 0;
}

/*customer-reviews section styling end*/

/*features section styling start*/

.features {
  margin: 120px 0;
  text-align: center;
}

.features ul { margin-top: 70px; }

.features li { 
  flex-basis: 21%; 
  box-sizing: border-box;
  padding : 10px 2%;
}

.features h4 { margin-bottom: 9px; }

.features ul div {
  padding: 23px 14%;
  border-radius: 15px;
  margin-bottom: 40px;
  display: inline-block;
  background: #EEEEEF;
}

.features a { 
  color: #4186ed;
  text-indent: -9999px; 
}

.features a:before {
  float: left;
  font : 40px fontAwesome;
  text-indent: 0;
}

.mobile:before { content: "\f10a"; }

.love:before { content: "\f004"; }

.star:before { content: "\f005"; }

.api:before { content: "\f013"; }


/*features section styling end*/

/*subscribe section styling start*/

.subscribe {
  padding : 115px 0;
  background : #39DEFE;
  text-align : center;
}

.subscribe p {
  width : 58%;
  margin : 7px auto 78px;
  color : #2691B4;
  font-size : 18px;
  line-height : 30px;
}

.form-group, .form-control { 
  width: 32%;
  display: inline-block; 
}

.form-group { margin-right: 1%; }

.form-group input {
  box-sizing: border-box;
  width: 96%;
  padding: 17px 3%;
  border : none;
  border-radius: 4px;
  background: #88ecff;
}

.subscribe .form-group input::placeholder {
  color: #000;
  font: 500 16px sans-serif;
}

.subscribe-button { 
  box-sizing: border-box;
  width: 96%;
  padding: 15px 0; 
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

/*subscribe section styling end*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/

/*media query for 1024px remove hover effect*/
@media only screen and (min-width: 1024px) {

  nav a:hover,
  .banner-text p a:hover { color: #00008b; }

  .banner-text p + a:hover,
  .subscribe-button:hover {
    border : 1px solid #4186ed;
    background: #fff;
    color: #4186ed;
  }

  .features li:hover {  box-shadow: 0 0 8px #ddd; }
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  